
{% extends 'indexBACK.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Create a New User</h1>

        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">User Information</h5>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
                    <div class="col-md-6">
                        {{ form_row(form.userUsername, {'label': 'Username', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.userEmail, {'label': 'Email', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.userPassword, {'label': 'Password', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.userFirstname, {'label': 'First Name', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.userLastname, {'label': 'Last Name', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.userBirthday, {'label': 'Birthday', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.userGender, {'label': 'Gender', 'attr': {'class': 'form-select'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.userPhonenumber, {'label': 'Phone Number', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.userLevel, {'label': 'Level', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.role, {'label': 'Role', 'attr': {'class': 'form-select'}}) }}
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
                        <a href="{{ path('app_users_index') }}" class="btn btn-secondary ms-2">Back to List</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}